<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- 부트스트랩 -->
    <script src="/js/basic.js"></script>

  <title>TodayOutfitDetail</title>

</head>
<body2>
<!-- 헤더 -->
<div class="header" style="position:static;">
    <div id="header-title-select-shop">
        Today Outfit
    </div>
</div>
<!-- 헤더 -->
<!-- 헤더2 -->
<div class="header2">

  <button class="update" id="editBtn"  onclick="BtnChange() ">Edit</button>
  <button class="delete" onclick="deletePost()">Delete</button>

</div>
<!-- 헤더2 -->
<!-- 메인 -->
<div class="main">

  <div class = "imagebox" style="width: 500px; height: 500px;"></div>
  <div class = "detail">
    <textarea type="text" readonly class = "detail-title" name="title" id="title">300보고 Feel 꽂힌 출근 룩</textarea>
    <textarea type="text" readonly class = "detail-content" name="content" id="content"> </textarea>
    <div class = "time" name="modifiedTime" id="modifiedTime"> 2023-07-06 09:00 </div>
    <p id="targetIdParagraph" style="display: none;">targetId: <span th:text="${postnum}"></span></p>
  </div>

</div>
<!-- 메인 -->


<!-- 댓글 -->
<div class="comment-input-wrapper">
    <!--  <div class="profilename">profilename</div>-->
    <textarea class="comment-input" id="comment-submit" placeholder="댓글을 입력하세요"></textarea>
    <button class="comment-submit" onclick="onComment()">등록</button>
</div>
<div class="comment-container">
    <!-- 댓글 -->
    <div class="comment-input-wrapper">
        <div class="profilename">profilename</div>
        <div class="comment-input">ㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇㅇ</div>
        <div class="header3">
            <button class="update2" onclick="editComment()">Edit</button>
            <button class="delete2" onclick="deleteComment()">Delete</button>
        </div>
    </div>
</div>

<!--&lt;!&ndash; 댓글 목록 영역 &ndash;&gt;-->
<!--<div id="comments-container"></div>-->

<!--</div>-->

</body2>
<script>

  

  function deletePost() {
    let authCookie = Cookies.get("Authorization");
    $.ajax({
      type: "DELETE",
      url: `/api/post/${postnum}`,
      contentType: "application/json",
      headers: {
        'Authorization': authCookie
      },
      success: function (response) {
        // 요청 성공 시 처리할 로직
        alert("게시물 삭제 완료")
        window.location.href = "/";
      },
      error: function (xhr, status, error) {
        // 요청 실패 시 처리할 로직
        alert("게시물 삭제 실패")
      }
    })
  }

  
  
  function BtnChange(){
    const btnElement = document.getElementById('editBtn');
    var edit = "Edit";
    console.log(btnElement.innerText+ "값");
    if(btnElement.innerText === edit)
    {
      btnElement.innerText = 'Ok';
      document.getElementById("title").readOnly = false;
      document.getElementById("content").readOnly = false;
    }
    else{
      btnElement.innerText = "Edit";
      document.getElementById("title").readOnly = true;
      document.getElementById("content").readOnly = true;
      editPost()
    }
  }
  function editPost(){
    let modifytitle = $('#title').val();
    let modifycontent = $('#content').val();
    let modifiedTime = $('#modifiedTime').val();
    var authCookie = Cookies.get("Authorization");
    $.ajax({
      type: "PUT",
      url: `/api/post/${postnum}`,
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({title: modifytitle, content: modifycontent,
       modifiedAt:modifiedTime}),
      headers: {
        "Authorization": authCookie,
      },
    })
            .done(function () {
                      alert('게시글 수정 잘 되었습니다...');
                      window.location.href = host + "/";
                    }
            )
            .fail(function (xhr, textStatus, errorThrown) {
              console.log('statusCode: ' + xhr.status);
              alert('게시글 수정 뭔가 잘못되었습니다...');
            });
  }



    function getTimestamp() {
        const now = new Date();
        const year = now.getFullYear().toString();
        const month = (now.getMonth() + 1).toString().padStart(2, '0');
        const day = now.getDate().toString().padStart(2, '0');
        const hours = now.getHours().toString().padStart(2, '0');
        const minutes = now.getMinutes().toString().padStart(2, '0');
        const timestamp = `${year}-${month}-${day} ${hours}:${minutes}`;

        return timestamp;
    }

    let postnum = document.getElementById('targetIdParagraph').querySelector('span').innerText;
    $(document).ready(function () {

        $.ajax({
            url: `/api/post/${postnum}`,
            type: "GET",
            contentType: 'application/json',
            headers: {
                'Authorization': document.cookie // 클라이언트 쿠키의 값을 전달
            },
            success: function (response) {
                $('.imagebox').html('<img src="' + response.image + '">');
                $('.detail-title').text(response.title);
                $('.detail-content').text(response.content);
                $('.time').text(response.createdAt);

                // var commentBox = $('.comment-input-wrapper');
                $('.comment-container').empty();

                let commentList = response.comment;

                commentList.forEach(function (comment) {
                    console.log(comment)
                    // var box = '<div className="comment-input-wrapper" id= "+ comment.id+")>' +
                    //     '<div className="profilename">' + comment.profilename + '</div>' +
                    //     '<div className="comment-input">' + comment.body + '</div>' +
                    //     '<div className="header2">' +
                    //     '<button className="update2" onClick="editComment()">Edit</button>' +
                    //     '<button className="delete2" onClick="deleteComment()">Delete</button>' +
                    //     '</div>' +
                    //     '</div>';
                    var box = `<div class="comment-input-wrapper" id="${comment.id}">
                                    <div class="profilename">${comment.profilename}</div>
                                    <div class="comment-input">${comment.body}</div>
                                    <div class="header3">
                                        <button class="update2" onclick="editComment()">Edit</button>
                                        <button class="delete2" onclick="deleteComment()">Delete</button>
                                    </div>
                                </div>`;

                    $('.comment-container').append(box);
                });
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    })


    function onComment() {
        let body = $('#comment-submit').val();
        let authCookie = Cookies.get("Authorization");

        $.ajax({
            type: "POST",
            url: `/api/comment/${postnum}`,
            contentType: "application/json",
            data: JSON.stringify({body: body}),
            headers: {
                'Authorization': authCookie
            },
            success: function (response) {
                console.log(response);

                // 요청 성공 시 처리할 로직
                alert("댓글 작성 완료")
                window.location.reload(); //새로고침
            },
            error: function (xhr, status, error) {
                alert("실패")
                // 요청 실패 시 처리할 로직
            }
        });
    }

    function editComment() {
        //postnum -> commentnum 대체 필요

        $.ajax({
            type: "PUT",
            url: `/api/comment/${postnum}`,
            contentType: "application/json",
            data: JSON.stringify({body: body}),
            headers: {
                'Authorization': authCookie
            },
            success: function (response) {
                // 요청 성공 시 처리할 로직
                alert("댓글 수정 완료");
                window.location.reload(); //새로고침
            },
            error: function (xhr, status, error) {
                // 요청 실패 시 처리할 로직
                alert("댓글 수정 실패...");
            }
        });
    }

    function deleteComment() {
        //postnum -> commentnum 대체 필요

        $.ajax({
            type: "DELETE",
            url: `/api/comment/${postnum}`,
            contentType: "application/json",
            headers: {
                'Authorization': authCookie
            },
            success: function (response) {
                // 요청 성공 시 처리할 로직
                alert("댓글 삭제 완료");
                window.location.reload(); //새로고침
            },
            error: function (xhr, status, error) {
                // 요청 실패 시 처리할 로직
                alert("댓글 삭제 실패...");
            }
        });
    }
</script>

</html>