<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- 부트스트랩 -->
    <script src="/js/basic.js"></script>
    <title>TodayOutfit</title>
</head>
<body>
<div class="header" style="position:fixed;">
    <div>
        <div id="header-title-select-shop">
            Today Outfit
        </div>
        <a id="sign-text" href="/api/user/signup" style="display: none">
            SIGN UP
        </a>
        <a id="login-text" href="/api/user/login-page" class="loginAndLogout" style="display: none">
            LOGIN
        </a>
        <a id="logout-text" href="javascript:logout()" class="loginAndLogout" style="display: none">
            Logout
        </a>
        <div class="postbox" style="display: none">
            <a id="new-text" href="">
                New Post
            </a>
        </div>
        <!-- 게시글-->
        <div class="cards">
            <div id="cards" class="row row-cols-1 row-cols-md-5 g-5">
                <div class="col">
                    <div class="card h-100">
                        <img src="https://velog.velcdn.com/images/dltmdcjf9859/profile/fd86690a-6da4-4a0b-a48e-2eee9b681879/image.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">profilename</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://velog.velcdn.com/images/dltmdcjf9859/profile/fd86690a-6da4-4a0b-a48e-2eee9b681879/image.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">profilename</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://velog.velcdn.com/images/dltmdcjf9859/profile/fd86690a-6da4-4a0b-a48e-2eee9b681879/image.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">profilename</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://velog.velcdn.com/images/dltmdcjf9859/profile/fd86690a-6da4-4a0b-a48e-2eee9b681879/image.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">profilename</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="https://velog.velcdn.com/images/dltmdcjf9859/profile/fd86690a-6da4-4a0b-a48e-2eee9b681879/image.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Profilename</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>