<!doctype html>
<html lang="en">
<head>
<!--    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- 부트스트랩 -->
    <script src="/js/basic.js"></script>
    <title>TodayOutfit</title>
<style>
    .scroll-container {
        height: 100vh;
        overflow-y: scroll;
    }
</style>
</head>
<body>

<div class="header scroll-container">
    <div>
        <div id="header-title-select-shop">
            Today Outfit
        </div>
        <a id="signup-text" href="/api/user/signup" class="optionButton" style="display: none">
            SIGNUP
        </a>
        <a id="login-text" href="/api/user/login" class="loginAndLogout" style="display: none">
            LOGIN
        </a>
        <a id="mypage-text" href="/api/user/mypage" class="optionButton" style="display: none">
            MYPAGE
        </a>
        <a id="logout-text" href="javascript:logout()" class="loginAndLogout" style="display: none">
            LOGOUT
        </a>
        <div class="postbox" style="display: none">
            <a id="new-text" href="/api/user/new-post">
                New Post
            </a>
        </div>


        <!-- 게시글-->
        <div class="cards">
            <div id="cards" class="row row-cols-1 row-cols-md-5 g-5">
                <div class="col" id = 1 >
                    <div class="card h-100">
                        <img src=""
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <button class="like">
                                <div class="icon">
                                    <svg class="prime" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                              d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                                        </path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                              d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                                        </path>
                                    </svg>
                                </div>
                                <div class="counter" id="couter"></div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src=""
                             class="card-img-top"  onclick="detail(1)" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <button class="like-button" onclick="toggleLike(this)">
                                <span class="icon" style="color: red;">❤</span>
                                <span class="counter">0</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 게시글-->
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/api/post',
            type: 'GET',
            contentType: 'application/json',
            headers: {
                'Authorization': document.cookie // 클라이언트 쿠키의 값을 전달
            },
            success: function(response) {
                // 서버에서 반환된 데이터를 동적으로 HTML에 추가
                var postCards = $('#cards');

                $('#cards').empty()
                // 게시물 데이터를 반복하면서 카드를 생성하고 추가

                response.forEach(function(post) {

                    console.log(post);
                    // var obj = JSON.parse(post);
                    // console.log(obj.title);
                    var card = `<div class="col" id = 1>
                        <div class="card h-100">
                        <img src=${post.savedPath}
                    class="card-img-top"  onclick="detail(${post.id})" alt="...">
                        <div class="card-body">
                        <span data-id="${post.id}" class="post-id" style="display: none">${post.id}</span>
                        <h5 class="card-title">${post.profilename}</h5>
                        <button class="like-button" onclick="toggleLike(this)" style="background-color: transparent;">
                            <span class="icon"style="color: #721C24">❤</span>
                            <span class="counter"style="color: white">${post.like}</span>
                        </button>
                </div>
                </div>
                </div>`

                    postCards.append(card);

                });
            },
            error: function(xhr, status, error) {
                console.log(error);
            }
        });
    });


// 페이지 로드 시 전체 게시물을 가져와서 동적으로 추가
//     loadAllPosts();

    function detail(id) {
        window.location.href = '/api/board?postnum=' + id;
    }

    function toggleLike(button) {

        let authCookie = Cookies.get("Authorization");
        let postId = $(button).closest('.card').find('.post-id').data('id');
        console.log(postId);

        if ($(button).hasClass('liked')) {
            // 이미 좋아요 상태인 경우
            $.ajax({
                type: "DELETE",
                url: `/post/like/${likeId}`,

                contentType: "application/json",
                headers: {
                    'Authorization': authCookie
                },
                success: function(res) {

                    // 성공 처리 로직
                    $(button).removeClass('liked');

                },
                error: function(xhr, status, error) {
                    // 에러 처리 로직
                }
            });
        } else {
            console.log("hi")
            // 좋아요 상태가 아닌 경우
            $.ajax({
                type: "POST",
                url: `api/post/${postId}/like`,
                contentType: "application/json",
                headers: {
                    'Authorization': authCookie
                },
                success: function(res) {
                    console.log("성공")
                    // 성공 처리 로직
                    $(button).addClass('liked');
                    window.location.reload(); //새로고침
                },
                error: function(xhr, status, error) {
                    console.log("실패");
                }
            });
        }
    }

</script>
</html>